<footer>
  <div class="footer-container">
    <!-- Columna 1: Logo + texto -->
    <div class="footer-column logo-column">
      <img src="/assets/img/logo.png" alt="Logo" class="logo" />
      <h4><strong>Gestion 2025 - 2028</strong></h4>
    </div>

    <!-- Columna 2: Información de contacto -->
    <div class="footer-column contact-column">
      <h3>Contacto</h3>
      <p><img src="/assets/img/icons/phone_b.png" alt="Telefono" />- (044) 714156 
        <br>- Tesoreria: 949348697 
        <br>- Secretaria: 983746899</p>
      <p><img src="/assets/img/icons/email_b.png" alt="Correo Electrónico" /> cr.lalibertad&#64;cep.org.pe</p>
      <p><strong>HORARIO:</strong></p>
      <p>Lunes a viernes de 8 a 6:30
      <br>Sábados de 8 a 12</p>
      <p><img src="/assets/img/icons/address_b.png" alt="Dirección" /> Mz "K" Lt 01 Urb. Los Cedros Trujillo, Perú</p>
    </div>

    <!-- Columna 3: Redes Sociales -->
    <div class="footer-column social-column">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/share/14P3qnwqsEX/" target="_blank">
          <img src="/assets/img/redes/facebook_b.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/ceplalibertad?igsh=MXJpbG9iYzNnMTRvMA==" target="_blank">
          <img src="/assets/img/redes/instagram_b.png" alt="Instagram" />
        </a>
        <a href="https://youtube.com/@cepcriilalibertad6059?si=EWel_owHEgyogsTA" target="_blank">
          <img src="/assets/img/redes/youtube_b.png" alt="Youtube" />
        </a>
        <a href="https://www.tiktok.com/@ceplalibertad?_r=1&_t=ZS-91HjqhL9xOm" target="_blank" >
          <img src="/assets/img/redes/tiktok_b.png" alt="Tiktok" />
        </a>
      </div>
      <br><br><h3>Descarga nuestra APP</h3>
      <div class="social-icons">
        <a href="https://play.google.com/store/apps/details?id=com.colegiodeenfermerosdelperu.app&hl=es" target="_blank" >
          <img src="/assets/img/icons/appStore.png" alt="APPSTORE" />
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="footer-bottom">
    <p>© 2025 Creado por Consejo Regional II La Libertad</p>
  </div> -->
</footer>
