<footer>
  <div class="footer-container">
    <!-- Columna 1: Logo + texto -->
    <div class="footer-column logo-column">
      <img src="/assets/img/logo.png" alt="Logo" class="logo" />
      <p>
        Somos una institución autónoma con personería de derecho público interno, sin fines de lucro,
        máximo órgano representativo de la profesión de Enfermería en todo el territorio de la República.
      </p>
    </div>

    <!-- Columna 2: Información de contacto -->
    <div class="footer-column contact-column">
      <h3>Contacto</h3>
      <p><img src="/assets/img/icons/phone_b.png" alt="Telefono" /> (044) 251033 - 949348697</p>
      <p><img src="/assets/img/icons/email_b.png" alt="Correo Electrónico" /> cr.lalibertad&#64;cep.org.pe</p>
      <p><strong>SECRETARIA:</strong> </p>
      <p><strong>HORARIO:</strong> Lunes a viernes de 8 am - 4 pm</p>
      <p><img src="/assets/img/icons/address_b.png" alt="Dirección" /> Mz "K" Lt 01 Urb. Los Cedros Trujillo, Perú</p>
    </div>

    <!-- Columna 3: Redes Sociales -->
    <div class="footer-column social-column">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/criilalibertad?_rdc=1&_rdr#" target="_blank">
          <img src="/assets/img/redes/facebook_b.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/ceplalibertad/" target="_blank">
          <img src="/assets/img/redes/instagram_b.png" alt="Instagram" />
        </a>

        <!-- <a href="https://www.x.com" target="_blank">
          <img src="/assets/img/redes/x_b.png" alt="X" />
        </a> -->
      </div>
    </div>
  </div>

  <!-- <div class="footer-bottom">
    <p>© 2025 Creado por Consejo Regional II La Libertad</p>
  </div> -->
</footer>
