<nav class="navbar">
  <div class="contact-icons">
    <a href="tel:+044714156" target="_blank" class="icon" aria-label="Teléfono">
      <img src="/assets/img/icons/phone_b.png" alt="Telefono" /> (044) 714156
    </a>
    <a href="https://wa.me/945446793" target="_blank" class="icon" aria-label="WhatsApp">
      <img src="/assets/img/redes/whatsapp_b.png" alt="WhatsApp" /> 945 446 793
    </a>
    <a href="mailto:cr.lalibertad@cep.org.pe" target="_blank" class="icon" aria-label="Correo Electrónico">
      <img src="/assets/img/icons/email_b.png" alt="Correo Electrónico" /> cr.lalibertad&#64;cep.org.pe
    </a>
    <a href="https://www.facebook.com/share/14P3qnwqsEX/" class="icon" target="_blank" aria-label="Facebook">
      <img src="/assets/img/redes/facebook_b.png" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/ceplalibertad?igsh=MXJpbG9iYzNnMTRvMA==" class="icon" target="_blank" aria-label="Instagram">
      <img src="/assets/img/redes/instagram_b.png" alt="Instagram" />
    </a>
    <a href="https://youtube.com/@cepcriilalibertad6059?si=EWel_owHEgyogsTA" class="icon" target="_blank" aria-label="Youtube">
      <img src="/assets/img/redes/youtube_b.png" alt="Youtube" />
    </a>
    <a href="https://www.tiktok.com/@ceplalibertad?_r=1&_t=ZS-91HjqhL9xOm" class="icon" target="_blank" aria-label="Tiktok">
      <img src="/assets/img/redes/tiktok_b.png" alt="Tiktok" />
    </a>
  </div>
</nav>
<app-sub-navbar></app-sub-navbar>
