<nav class="navbar">
  <div class="contact-icons">
    <a href="tel:+044251033" target="_blank" class="icon" aria-label="Teléfono">
      <img src="/assets/img/icons/phone_b.png" alt="Telefono" /> (044) 251033
    </a>
    <a href="https://wa.me/945446793" target="_blank" class="icon" aria-label="WhatsApp">
      <img src="/assets/img/redes/whatsapp_b.png" alt="WhatsApp" /> 945 446 793
    </a>
    <a href="mailto:cr.lalibertad@cep.org.pe" target="_blank" class="icon" aria-label="Correo Electrónico">
      <img src="/assets/img/icons/email_b.png" alt="Correo Electrónico" /> cr.lalibertad&#64;cep.org.pe
    </a>
    <a href="https://www.facebook.com/criilalibertad?_rdc=1&_rdr#" class="icon" target="_blank" aria-label="Facebook">
      <img src="/assets/img/redes/facebook_b.png" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/ceplalibertad/" class="icon" target="_blank" aria-label="Instagram">
      <img src="/assets/img/redes/instagram_b.png" alt="Instagram" />
    </a>
    <!-- <a href="https://twitter.com" class="icon" target="_blank" aria-label="X (Twitter)">
      <img src="/assets/img/redes/x_b.png" alt="X" />
    </a> -->
  </div>
</nav>
<app-sub-navbar></app-sub-navbar>
