<app-navbar></app-navbar>

<section class="reclamacion-virtual">
  <!-- Círculos decorativos -->
  <div class="circles-background">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="circle circle4"></div>
  </div>

  <!-- Card principal -->
  <div class="reclamacion-container">
    <div class="reclamacion-img">
      <img src="/assets/img/reclamos.png" alt="Enfermera - Reclamos" />
    </div>
    <div class="reclamacion-texto">
      <h2>RECLAMACIÓN VIRTUAL</h2>
      <p>
        En cumplimiento del <strong>Decreto Supremo Nº 011-2011-PCM</strong>, el Consejo Regional II La Libertad pone a tu disposición el <strong>Buzón de Sugerencias y Reclamos</strong> para mejorar la atención y servicios brindados.
      </p>
      <button class="btn-reclamo" (click)="Buzon()">
        <img src="/assets/img/icons/send.png" alt="Enviar" />
        Deja tu reclamo o sugerencia
      </button>
    </div>
  </div>
</section>

<app-footer></app-footer>
