.quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 180px 40px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.card-quienes-somos {
  width: 100%;
  max-width: 650px;
  background-color: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-quienes-somos:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.left-column {
  font-size: 1.15rem;
  line-height: 1.75;
  color: #2d3b45;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-header img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.card-header h2 {
  font-size: 2rem;
  color: #2d3b45;
  font-weight: 600;
  transition: color 0.3s ease;
}

.card-header h2:hover {
  color: #3498db;
}

.right-column {
  flex: 0 0 40%;
}

.right-column img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.right-column img:hover {
  transform: scale(1.05);
}

/* Sección Misión y Visión */
.mision-vision {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 100px;
  background-color: #ecf4f6;
  transition: background-color 0.3s ease;
}

.mision-vision:hover {
  background-color: #e1f5fe;
}

.card-mision-vision {
  width: 48%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-mision-vision:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 2.5rem;
  margin-right: 20px;
  color: #3498db;
}

.card-header h2 {
  font-size: 2rem;
  color: #2d3b45;
  font-weight: 600;
}

.card-body p {
  font-size: 1.1rem;
  color: #34495e;
  line-height: 1.75;
}

.card-body {
  font-size: 1rem;
}

.valores {
  padding: 80px 100px 50px;
  background-color: #ffffff;
  text-align: center;
  transition: background-color 0.3s ease;
}

.valores:hover {
  background-color: #f5f8fa;
}

.valores h2 {
  font-size: 2.5rem;
  color: #2d3b45;
  font-weight: 600;
  margin-bottom: 40px;
}

.valores-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
  transition: all 0.3s ease;
}

.valor-card {
  background: linear-gradient(135deg, #0c5485, #247d96, #0CA9D5);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
}

.valor-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.valor-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  transition: color 0.3s ease;
  align-self: center;
}

.valor-card img:hover {
  transform: scale(1.1);
}

.valor-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
}

.valor-card-content h3 {
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 10px;
  flex-grow: 0;
}

.valor-card-content p {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1512px) {
  .valor-card {
    height: 305px;
  }
}

@media (max-width: 1024px) {
  .quienes-somos {
    padding: 180px 50px 40px;
  }

  .content {
    gap: 20px;
  }

  .card-header h2 {
    font-size: 25px;
  }

  p {
    font-size: 16px;
  }

  .card-header img {
    width: 40px;
    height: 40px;
  }

  .card-body p {
    font-size: 16px;
  }

  .valores{
    padding: 30px 30px 50px;
  }

  .valores-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .valor-card-content h3 {
    font-size: 14px;
  }

  .valor-card-content p {
    font-size: 12px;
  }

  .valor-card img {
    width: 35px;
    height: 35px;
  }

}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .card-header h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
  .valores-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .card-body p {
    font-size: 12px;
  }

  .valores h2{
    font-size: 28px;
  }

  .valor-card {
    height: 180px;
    max-width: 100%;
  }

  .valor-card-content h3 {
    font-size: 13px;
  }
}


@media (max-width: 480px) {
  .mision-vision {
    flex-direction: column;
    padding: 40px 45px;
  }
  .card-mision-vision{
    width: 100%;
  }
  .valores-grid {
    grid-template-columns: 1fr;
  }

  .content {
    flex-direction: column;
    padding: 40px 0;
  }

  .right-column {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .mision-vision {
    flex-direction: column;
    padding: 40px 45px;
  }
  .card-mision-vision{
    width: 100%;
  }
  .valores-grid {
    grid-template-columns: 1fr;
  }

  .content {
    flex-direction: column;
    padding: 40px 0;
  }

  .right-column {
    width: 100%;
  }
}
