<app-navbar></app-navbar>

<section class="quienes-somos">
  <div class="content">
    <div class="card-quienes-somos">
      <div class="left-column">
        <div class="card-header">
          <span class="icon"> <img src="/assets/img/icons/lampara.png" alt="Imagen representativa"></span>
          <h2>¿QUIENES SOMOS?</h2>
        </div>
        <p>El Colegio de Enfermeros del Perú es una institución autónoma y sin fines de lucro, máxima representante de la profesión de Enfermería en el país, que fortalece el ejercicio profesional desde una perspectiva ética, humana y deontológica. Se enfoca en el desarrollo de competencias de los enfermeros, promoviendo el cuidado y la salud, y abogando por condiciones adecuadas para el ejercicio profesional en todos los niveles de atención. Además, defiende y representa la profesión, fomenta la producción científica y participa en proyectos de investigación y colaboración con entidades nacionales e internacionales.</p>
      </div>
    </div>
    <div class="right-column">
      <img src="/assets/img/quienesSomos.jpg" alt="Imagen representativa">
    </div>
  </div>
</section>

<section class="mision-vision">
  <div class="card-mision-vision">
    <div class="card-header">
      <img src="/assets/img/icons/mision.png" alt="Mision" />
      <h2>MISIÓN</h2>
    </div>
    <div class="card-body">
      <p>Mantener la permanente vigilancia de la ética y deontología profesional. Normar y promover el ejercicio y desarrollo profesional de las enfermeras(os) del Perú contribuyendo al cuidado de la vida y salud de la población peruana.</p>
    </div>
  </div>

  <div class="card-mision-vision"> <!-- Cambié la clase a card-mision-vision -->
    <div class="card-header">
      <img src="/assets/img/icons/vision.png" alt="Visión" />
      <h2>VISIÓN</h2>
    </div>
    <div class="card-body">
      <p>Ser en el 2024, el Colegio Profesional líder en el país, integrado por profesionales de enfermería altamente competentes en lo científico, tecnológico y humano, con visibilidad, reconocimiento profesional y social a nivel regional, nacional e internacional, participando en la dinámica de las políticas públicas de la Libertad y Perú, para el cuidado y la salud de la población</p>
    </div>
  </div>
</section>

<section class="valores">
  <h2>NUESTROS VALORES</h2>
  <div class="valores-grid">
    <div class="valor-card">
        <img src="/assets/img/icons/respeto.png" alt="Respeto" />
        <div class="valor-card-content">
          <h3>RESPETO</h3>
          <p>Consideración y buen trato en un contexto de derecho y responsabilidades de cada miembro de la orden.</p>
        </div>
    </div>
    <div class="valor-card">
        <img src="/assets/img/icons/responsabilidad.png" alt="Responsabilidad" />
        <div class="valor-card-content">
          <h3>RESPONSABILIDAD</h3>
          <p>Cumplimiento individual y colectivo de las competencias éticas y deontológicas que garanticen la atención de enfermería en su desempeño.</p>
        </div>
    </div>
    <div class="valor-card">
        <img src="/assets/img/icons/solidaridad.png" alt="Solidaridad" />
        <div class="valor-card-content">
          <h3>SOLIDARIDAD</h3>
          <p>Promover la hermandad y apoyo incondicional en situaciones comprometidas o difíciles que la enfermera está enfrentando.</p>
        </div>
    </div>
    <div class="valor-card">
        <img src="/assets/img/icons/honestidad.png" alt="Honestidad" />
        <div class="valor-card-content">
          <h3>HONESTIDAD</h3>
          <p>Es una virtud humana consistente entre la justicia y la verdad.</p>
        </div>
    </div>
    <div class="valor-card">
        <img src="/assets/img/icons/universal.png" alt="Universalidad" />
        <div class="valor-card-content">
          <h3>UNIVERSALIDAD</h3>
          <p>Asegurar el acceso de toda enfermera(o) a los servicios que ofrece nuestro colegio profesional.</p>
        </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
