<app-navbar></app-navbar>

<header class="header">
  <div class="banner-text">
    Juntos por el cambio y renovación
  </div>
  <img src="/assets/img/header.jpg" alt="Header Image" class="header-img" />
</header>

<section class="cards-section">
  <a href="https://www.cep.org.pe/portaldelcolegiado/" target="_blank" class="card card-2">
    <div class="card-header">
      <h3>Habilitación Electrónica</h3>
    </div>
    <div class="card-body">
      <p>Portal del Colegiado</p>
    </div>
    <div class="card-icon">
     <img src="/assets/img/icons/education.png" alt="Habilitación Electronica"/>
    </div>
  </a>

  <a href="https://www.cep.org.pe/colelectonica/" target="_blank" class="card card-2">
    <div class="card-header">
      <h3>Colegiación</h3>
    </div>
    <div class="card-body">
      <p>Trámite de Colegiación Electrónica</p>
    </div>
    <div class="card-icon">
      <img src="/assets/img/icons/user_b.png" alt="Colegiación"/>
    </div>
  </a>

  <a href="https://www.cep.org.pe/validar/" target="_blank" class="card card-2">
    <div class="card-header">
      <h3>Conoce tu Enfermera(o)</h3>
    </div>
    <div class="card-body">
      <p>¿Está habilitada para el ejercicio?</p>
    </div>
    <div class="card-icon">
      <img src="/assets/img/icons/users_b.png" alt="Conoce a tu Enfermera"/>
    </div>
  </a>
</section>
<section class="convenios-section">
  <div class="convenios-content">
    <!-- Imagen a la izquierda -->
    <div class="convenios-img-container">
      <img src="/assets/img/convenios.png" alt="Convenios" class="convenios-img" />
    </div>

    <!-- Texto a la derecha -->
    <div class="convenios-text">
      <h2>Conoce las más de 20 instituciones con las que tu Colegio tiene CONVENIO</h2>
      <p>Si te encuentras HABILITADO, accede a tu beneficio.</p>

      <!-- Logos pequeños debajo -->
      <div class="convenios-logos">
        <div class="convenios-logo-item">
          <div class="convenios-icon-circle salud">
            <img src="/assets/img/convenios/icons/salud.png" alt="Salud" />
          </div>
          <p>Salud</p>
        </div>
        <div class="convenios-logo-item">
          <div class="convenios-icon-circle educacion">
            <img src="/assets/img/convenios/icons/educacion.png" alt="Educación" />
          </div>
          <p>Educación</p>
        </div>
        <div class="convenios-logo-item">
          <div class="convenios-icon-circle gastronomia">
            <img src="/assets/img/convenios/icons/gastronomia.png" alt="Gastronomía" />
          </div>
          <p>Gastronomía</p>
        </div>
        <div class="convenios-logo-item">
          <div class="convenios-icon-circle estetica">
            <img src="/assets/img/convenios/icons/estetica.png" alt="Estética" />
          </div>
          <p>Estética</p>
        </div>
        <div class="convenios-logo-item">
          <div class="convenios-icon-circle deporte">
            <img src="/assets/img/convenios/icons/deporte.png" alt="Deporte" />
          </div>
          <p>Deporte</p>
        </div>
      </div>

      <!-- Botón -->
      <a href="#" class="convenios-btn">Conocer más</a>
    </div>
  </div>
</section>
<section class="payment-section">
  <h2>Realiza tus pagos del CEP utilizando la banca por internet y app BCP o BBVA</h2>

  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
  <div class="circle circle4"></div>

  <div class="payment-cards">
    <div class="payment-card">
      <a href="https://www.cep.org.pe/realiza-tus-pagos-del-cep-utilizando-la-banca-por-internet-y-el-app-del-bcp/" target="_blank">
        <img src="/assets/img/pagos/bcp-logo.jpg" alt="BCP" class="payment-card-img" />
      </a>
    </div>

    <div class="payment-card">
      <a href="https://www.cep.org.pe/realiza-tus-pagos-del-cep-utilizando-la-banca-por-internet-y-app-del-bbva/" target="_blank">
        <img src="/assets/img/pagos/bbva-logo.jpg" alt="BBVA" class="payment-card-img" />
      </a>
    </div>
  </div>
</section>
<app-footer></app-footer>
