<app-navbar></app-navbar>

<section class="courses">

  <!-- CONTENEDOR -->
  <div class="courses-container">

    <!-- MENU IZQUIERDO -->
    <aside class="sidebar">

      <ul>
        <li
          *ngFor="let categoria of categorias | keyvalue"
          (click)="cambiarCategoria(categoria.key)"
          [class.active]="categoriaActiva === categoria.key"
        >
          {{ categoria.key }}
        </li>
      </ul>

    </aside>

    <!-- GALERIA -->
    <div class="gallery">

      <div class="flyers-grid">

        <div
          class="flyer-card"
          *ngFor="let img of imagenesCategoria"
          (click)="openImage(img)"
        >
          <img [src]="img" class="flyer">
        </div>

      </div>

    </div>

  </div>

</section>

<!-- MODAL -->
<div class="image-modal" *ngIf="selectedImage" (click)="closeImage()">
  <span class="close" (click)="closeImage()">×</span>

  <img
    class="modal-img"
    [src]="selectedImage"
    (click)="$event.stopPropagation()"
  >
</div>

<app-footer></app-footer>