.que-hacemos {
  padding: 180px 100px 20px;
  background-color: #ffffff;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.card-text {
  width: 50%;
}

.titulo h2{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  color: #005e7d;
  background-clip: text;
}

.descripcion p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #555;
}

.card-img {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out;
}

.card-img img {
  transform: translateX(0);
}

.card-img img:hover {
  transform: translateX(10px);
}

.card.scroll-reveal {
  transform: translateX(-10px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.card.scroll-reveal.visible {
  transform: translateX(0);
  opacity: 1;
}

.nuestros-deberes {
  padding: 80px 100px 50px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.nuestros-deberes:hover {
  background-color: #f5f8fa;
}
.card-titulo {
  margin-bottom: 100px;
}

.card-titulo h2{
  color: #005e7d;
  font-size: 2.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  transition: all 0.3s ease;
}

.card-contenido {
  background: linear-gradient(135deg, #0c5485, #247d96, #0CA9D5);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.card-contenido:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.icono-circular {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background-color: #41badb81;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icono-circular img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.icono-circular img:hover {
  transform: scale(1.1);
}

.card-content {
  flex: 1;
}

.card-content p {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .titulo h2 { 
    font-size: 25px;
  }
  .descripcion p {
    font-size: 16px;
  }

  .card-titulo h2{
    font-size: 30px;
  }

  .nuestros-deberes {
    padding: 30px 40px 50px;
  }

  .card-titulo {
    margin-bottom: 70px;
  }

  .card-content p {
    font-size: 13px;
  }

  .icono-circular {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }

  .icono-circular img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    padding: 30px 0;
  }

  .card-text {
    width: 85%;
  }

  .card-img {
    margin-top: 30px;
    width: 65%;

  }
  
  p {
    font-size: 13px;
  }

}

@media (max-width: 480px) {
  .que-hacemos {
    padding: 155px 30px 20px;
  }
  .card-titulo h2{
    font-size: 25px;
  }
  .card-contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-content {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .que-hacemos {
    padding: 155px 30px 20px;
  }
  .card-titulo h2{
    font-size: 25px;
  }
  .card-contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-content {
    text-align: center;
  }
}
