<app-navbar></app-navbar>

<section class="que-hacemos">
  <div class="card">
    <div class="card-text">
      <div class="titulo">
        <h2>Qué Hacemos</h2>
      </div>
      <div class="descripciom">
        <p>
          Ejercemos la representación oficial y la defensa de la profesión de Enfermería en la Región La Libertad.
          <br><br>
          Velamos porque el ejercicio de la profesión y la vida de las instituciones de Enfermería se desarrollen de acuerdo con la doctrina y con las normas contenidas en el Estatuto y Reglamento, y en el Código de Ética y Deontología. Impulsamos y propiciamos la función social de las Enfermeras, las que se orientan al servicio del individuo, familia y comunidad.
          <br><br>
          Contribuimos al desarrollo competitivo de nuestra profesión, incentivando la producción científica de las Enfermeras (os). Participamos en proyectos planes y programas con organismos del Estado e instituciones nacionales y extranjeras, en estudios de investigación y otros relacionados con la salud.
        </p>
      </div>
    </div>
    <div class="card-img">
      <img src="/assets/img/quienesSomos.jpg" alt="Imagen representativa">
    </div>
  </div>
</section>

<section class="nuestros-deberes">
  <div class="card-titulo">
    <h2>NUESTROS DEBERES</h2>
  </div>
  <div class="card-grid">

    <!-- Tarjeta 1 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/trabajo.png" alt="Trabajo" />
      </div>
      <div class="card-content">
        <p>Representar oficialmente a los profesionales enfermera(os) y ejercer la defensa de la profesión en el país, de acuerdo con el derecho jurídico establecido por ley.</p>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/etica.png" alt="Ética" />
      </div>
      <div class="card-content">
        <p>Cautelar el ejercicio ético-deontológico de Enfermería a nivel nacional.</p>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/profesion.png" alt="Profesión" />
      </div>
      <div class="card-content">
        <p>Vigilar que la profesión de Enfermería cumpla con su rol social al servicio del ser humano, de la familia y de la comunidad en el país.</p>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/desarrollo.png" alt="Desarrollo" />
      </div>
      <div class="card-content">
        <p>Normar las políticas de desarrollo de la profesión de Enfermería.</p>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/superacion.png" alt="Superación" />
      </div>
      <div class="card-content">
        <p>Fomentar la superación profesional de sus miembros mediante el desarrollo de actividades científicas y culturales.</p>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/actualizar.png" alt="Actualizar" />
      </div>
      <div class="card-content">
        <p>Custodiar que la formación, la actualización y el perfeccionamiento profesional de la licenciada(o) en Enfermería sean coherentes con la realidad nacional de salud del país.</p>
      </div>
    </div>

    <!-- Tarjeta 7 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/seguridad.png" alt="Seguridad" />
      </div>
      <div class="card-content">
        <p>Velar por el respeto del ejercicio de la profesión y contribuir a la erradicación de la práctica ilegal de la misma.</p>
      </div>
    </div>

    <!-- Tarjeta 8 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/respeto.png" alt="Respeto" />
      </div>
      <div class="card-content">
        <p>Defender la vida y el respeto a los derechos humanos en concordancia con el bienestar de la población.</p>
      </div>
    </div>

    <!-- Tarjeta 9 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/universal.png" alt="Universal" />
      </div>
      <div class="card-content">
        <p>Mantener vinculación con entidades análogas y científicas del país y del extranjero.</p>
      </div>
    </div>

    <!-- Tarjeta 10 -->
    <div class="card-contenido">
      <div class="icono-circular">
        <img src="/assets/img/icons/phone_b.png" alt="Asistencia" />
      </div>
      <div class="card-content">
        <p>Promover la ejecución de programas y asistencia social de la enfermera (o) y su familia para asegurar su protección y salubridad.</p>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
